form{
    margin-top:31%;
}
button{
    background-color:#D94C1A;
    border-radius: 5px;
    color:white;
    padding: 2px 60px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-family: Verdana;
    font-size: 13px;
}
input{
    border-radius: 5px;
}
label{
        font-family: Verdana;
        font-size: 15px;
    margin: 4px 5px;
}
h2{
    text-align: center;
    opacity: 70%;
}
p{
    text-align: center;
    opacity: 70%;
}
div{
    border-radius: 2px;
    background-color: #a4a68afd;
    color: white;
}